@model IEnumerable<website.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<div class="container" style="margin-top:5rem;">
    <h2 style="text-align:center;">Reviews</h2>
    <div class="container" style="width:35rem; margin-top:25px">
        @foreach (var item in Model)
        {
    <div class="card bg-light mb-3" style="max-width: 40rem;">
        <div class="card-header"> @Html.DisplayFor(modelItem => item.Name)</div>
        <div class="card-body">
            <h5 class="card-title"> Cijfer: @Html.DisplayFor(modelItem => item.Rating)</h5>
            <p class="card-text">  @Html.DisplayFor(modelItem => item.Description)</p>
        </div>
    </div>}
        <form class="form-inline my-2 my-lg-0">
            <button asp-area="" asp-controller="Review" asp-action="Create" type="submit" class="btn btn-dark">Review Plaatsen</button>
        </form>
    </div>
                            </div>

