@{
    ViewData["Title"] = "Bevestiging";
}

<div style="text-align:center">
        <h1>BEVESTIGING</h1>
        <br />
        <p>Er is een email verstuurd voor @ViewBag.FN @ViewBag.LN naar @ViewBag.Email.</p>
        <p>Scan de code om uw kaartje op te halen in de bioscoop.</p>
</div>
