@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-group">
    @foreach (var role in Model)
    {
        <div class="card" style="width:100px">
            <img src="https://w7.pngwing.com/pngs/419/473/png-transparent-computer-icons-user-profile-login-user-heroes-sphere-black-thumbnail.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
                <a asp-action="Create">Voeg rol toe</a>
                <p class="card-text">@role.Id</p>
                <p class="card-text">@role.Name</p>

            </div>
        </div>

    }
</div>
        