
@{
    ViewData["Title"] = "Arrangement";
}

<div id="movie" class="mt-5">
    <div class="container-fluid">
        <h1 style="text-align:center;">Arrangementen</h1>
        <section id="movies-wrapper" style="padding: 50px 0;">
            <div class="container-fluid">
                <div class="row">
                    @foreach (var arrangement in Model)
                    {
                    <div class="card" style="width: 25rem; height: 30rem; margin-right:50px;">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <a asp-area="" asp-controller="Checkout" asp-action="Index" class="card">
                                    <li class="list-group-item">
                                        <p>@arrangement.Name</p>
                                    </li>
                                    </a>
                                    <li class="list-group-item" style="height: 200px;">
                                        <small>@arrangement.Description</small>
                                    </li>
                                    <li class="list-group-item">
                                        <p>€ @arrangement.Price ,-</p>
                                    </li>
                                    <li class="list-group-item">
                                        <h6>Kies je Snack:</h6>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Snacks</option>
                                            <option value="1">Chips</option>
                                            <option value="2">Popcorn</option>
                                            <option value="3">Nacho</option>
                                        </select>
                                </ul>
                    </div>
                        
                    </div>
                    }
                </div>
            </div>
        </section>
    </div>
</div>


