
@{
    ViewData["Title"] = "Arrangement";
}

<div id="movie" class="mt-5">
    <div class="container-fluid">
        <h1 style="text-align:center;">Arrangementen</h1>
        <section id="movies-wrapper" style="padding: 50px 0;">
            <div class="container-fluid">
                <div class="row">
                    @foreach (var Arrangement in Model)
                    {
                        <div class="card" style="width: 25rem; height: 30rem; margin-right:50px;">
                            @*<img class="card-img-top" src="..." alt="Card image cap">*@
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <p>@Arrangement.Name</p>
                                    </li>
                                    <li class="list-group-item" style="height: 200px;">
                                        <small>@Arrangement.Description</small>
                                    </li>
                                    <li class="list-group-item">
                                        <p>€ @Arrangement.Price</p>
                                    </li>
                                    <li class="list-group-item">
                                        <h6>Kies je Snack:</h6>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Kies</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
        <button class="btn btn-primary" asp-area="" asp-controller="Arrangement" asp-action="Index">Ga verder</button>
    </div>
</div>


